<form>
<p ng-repeat="field in formFields">
        <input 
            ng-if="field.type != 'checkbox'"
            dynamic-name="field.name"
            type="{{ field.type }}"
            placeholder="{{ field.name }}"
            ng-model="field.value"
            required
        >
        <span ng-if="field.type == 'checkbox'" ng-repeat="choice in field.choices">
        	{{choice.name}}
        <input
            type="checkbox"
            dynamic-name="field.name"
            ng-value="choice.name"
        >
        </span>
        
        <span ng-show="myForm.{{field.name}}.$dirty && myForm.{{field.name}}.$error.required">Required!</span>
        <span ng-show="myForm.{{field.name}}.$dirty && myForm.{{field.name}}.$error.email">Not email!</span>
</p>
<button ng-disabled="myForm.$invalid">Submit</button>                
</form>
